/* CSS Document */

$blue: #245d7a;

.selling {
	background-image:url(https://leithma.co.uk/wp-content/uploads/selling-title-bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-color:$blue;
	background-size:cover;
}

.contents ol {
	padding-left:4rem;
}

.contents ol li a {
	font-weight: normal;
	font-size:16px;
	margin-bottom:8px;
	display: block;
}

.page.page-id-93 .wpb_content_element {
	margin-bottom: 0;
}

.selling .image-square {
    height: 20vw;
}

.bg-secondary {
    background: #f8f8f8 !important;
}

.process h2 {
	margin-top:24px;
}

.process img.size-full {
	display:none;
}

.col-block {
	width:20%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.values .feature  {
		min-height:360px;
	}
	
	.process .feature {
		min-height: 208px;
	}
	
	.process img.size-full {
		display:block;
		padding-left:15px;
		padding-right:15px;
	}
	
	.process .col-block .feature {
    	min-height: 280px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.process .col-block .feature {
    	min-height: 232px;
	}	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1280px) {
	.w-75 {
		width:75%;
	}
	
	.process .col-block .feature {
    	min-height: 208px;
	}
}

