/* CSS Document */
.selling {
  background-image: url(https://leithma.co.uk/wp-content/uploads/selling-title-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #245d7a;
  background-size: cover; }

.contents ol {
  padding-left: 4rem; }

.contents ol li a {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 8px;
  display: block; }

.page.page-id-93 .wpb_content_element {
  margin-bottom: 0; }

.selling .image-square {
  height: 20vw; }

.bg-secondary {
  background: #f8f8f8 !important; }

.process h2 {
  margin-top: 24px; }

.process img.size-full {
  display: none; }

.col-block {
  width: 20%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 992px) {
  .values .feature {
    min-height: 360px; }

  .process .feature {
    min-height: 208px; }

  .process img.size-full {
    display: block;
    padding-left: 15px;
    padding-right: 15px; }

  .process .col-block .feature {
    min-height: 280px; } }
@media (min-width: 1200px) {
  .process .col-block .feature {
    min-height: 232px; } }
@media (min-width: 1280px) {
  .w-75 {
    width: 75%; }

  .process .col-block .feature {
    min-height: 208px; } }
